# Symfony
/.env
/.env.local
/.env.test.local
/.env.prod.local
/.env.dev.local
/var/
/vendor/
/node_modules/
/public/bundles/
/dump_project.py
/project_dump.txt
# IDE
/.idea/
/.vscode/
/.vs/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.php-cs-fixer.cache

# Uploads (but keep directory structure)
/public/uploads/
!public/uploads/.gitkeep
