{% extends 'base.html.twig' %}

{% block title %}Applications - HireFlow{% endblock %}

{% block body %}
<div class="container">
    <h1>Applications</h1>
    <p>This page will show applications. Coming soon!</p>
    <a href="{{ path('candidate_dashboard') }}">Back to Dashboard</a>
</div>
{% endblock %}
